/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
}
i{
    color:rgba(255, 255, 255, 0.3);

    transition: color 0.2s ease-in-out;
    z-index: 2;
    font-size: 36px;
    position: absolute;
    top:95vh;
    display: inline-block;
    width:100%;
    text-align: center;

}
